/* @theme rust */

@import 'default';

@font-face {
    font-family: 'Nikkyou Sans';
    src: url('https://rust-stuco.github.io/assets/fonts/NikkyouSans-mLKax.ttf');
}

section.communism h2, section.communism h1, section.communism h3 {
    font-family:'Nikkyou Sans', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #D84A39;
    font-size: 2rem;
    text-shadow: 3px 3px 0 #000;
    line-height: 0;
    max-width: 65%;
}

section.communism h1 {
    font-size: 2.5rem;
    line-height: 1;
}

section.communism h3 {
    font-size: 1rem;
    line-height: 1;
}

section.communism {
    background-image: url('../images/bg2.jpg');
    background-size: cover;
}

section.communism2 {
    background-image: url('../images/bg3.jpg');
    background-size: cover;
}

h6 {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    line-height: 0;
}