/* @theme rust */

@import 'default';

section.communism h2, section.communism h1 {
    font-family: 'Nikkyou Sans', serif !important;
    color: #D84A39;
    font-size: 2rem;
    text-shadow: 3px 3px 0 #000;
    line-height: 0;
}

section.communism h1 {
    font-size: 2.5rem;
    line-height: 1;
}

section.communism {
    background-image: url('../images/bg2.jpg');
}